<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8" />
        <title>Document</title>
        <link rel="stylesheet" href="main.css" />
        <script src="angular.min.js"></script>
        <script src="angular-route.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="controlador as lista">
        {{2+2*6}}
        <br />
        <!-- <input type="text" ng-model="nombre" />
        <p>Hola {{nombre +" "+ apellido}} !</p> -->

        <input type="text" ng-model="lista.nombre" />
        <input type="text" ng-model="lista.precio" />
        <input type="button" value="Añadir" ng-click="lista.addProducto()" />

        <li ng-repeat="producto in lista.productos">{{producto.nombre}}</li>
    </body>
</html>
