body{
    font-family: Arial, Helvetica, sans-serif;
}

#menu ul{
    margin: 0;
    padding: 0;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: #176b92;
    padding: 10px;
    text-decoration: none;
}

.add{
    color: #176b92;
    padding: 10px;
    text-decoration: none;
}